.brands{
    display: flex;
    flex-basis: 100%;
    margin: 0 15% 0 15%;

    height: 160px;
    flex-flow: row wrap;

}

.brandText{
    flex-basis: 100%;
    height: 70px;

    font-size: 30px;
    font-weight: bold;
    text-align:  center;
    align-items: center;
}

.brandItems{
    flex-basis: 100%;

    height: 80px;
    display: flex;
    flex-flow: row nowrap;
}


.mango{
    flex-basis: 20%;
    background-image: url("Bradns/Mango.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
}

.nike{
  flex-basis: 18%;
    background-image: url("Bradns/Nike.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
}

.hm{
  flex-basis: 12%;
    background-image: url("Bradns/H&M.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
}

.zara{
   flex-basis: 25%;
    background-image: url("Bradns/Zara.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
}

.forever21{
 flex-basis: 25%;
    background-image: url("Bradns/Forever21.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 80px;
}